// Es poden importar altres fitxers  amb @import
html,body{
  margin:0;
  
}
button{
  background-color:chocolate;
  font-size:125%;
  cursor: pointer;
  border-radius:25%;
  text-decoration:none;

  &:hover{
    transform:scale(1.1)
  }
}
a{
  color:white;
  text-decoration:none;
  margin-bottom:.5%;
}