<template>
  <div class="user-list">
    <h1>Admins Only</h1>
    <h1>Users stats</h1>
    <div class="user-list_links">
      <router-link
        class="link"
        v-for="(user) in users"
        :to="{ name: 'UserProfile', params: { userId: user.userId } }"
        :key="user.userId"
      >
        <!-- Referenciamos en el to el nombre del componente y no el path para sí si cambiamos la ruta, sigue funcionando -->
        {{ user.userName }} - Hee-haws published: {{ user.heehaws.length }} -
        Faourited Heehaws: <p
        v-for="(tweet,index) in user.heehaws"
        :key="index"
        >{{tweet.fav}}
        </p>
      </router-link>
    </div>
  </div>
</template>

<script>
import { users } from '../assets/users'
import { reactive, computed } from 'vue'

export default {
  name: 'admin',
  

  setup() {
    const state = reactive({
    })

   

    const favouriteCount = computed(() => {
       
      // for (let user of users) {
      //   for(let tweet in user.userName){
      //     return tweet.fav
      //   }
        


      // }
    })
    return {
      state,
      users,
      // favouriteCount,
    }
  },
}
</script>

<style lang="scss" scoped>
.user-list {
  color: white;
  margin-left: 12%;
  .user-list_links {
    display: flex;
    flex-direction: column;
    font-size: 200%;
    text-decoration: none;
    color: ghostwhite;
    .link:hover {
      transform: translateY(3px);
    }
  }
}
</style>