<template>
  <div class="home">
    <div class="home-logo">
      <img class="logo-donkey" :src="state.image" />
      <h2 class="logo-text">Heehawer</h2>
    </div>
    <div class="home-login">
      <p>Login</p>
      <p>User</p>
      <input v-model="state.userName" type="text" />
      <p>Password</p>
      <input v-model="state.password" type="password" />
      <div class="home-login_text">
        <p>
          Still not a Donkey? Then please
          <router-link class="home-login_link" :to="{ path: '/register' }">
            register
          </router-link>
        </p>
      </div>
      <button @click="correctPasswordProvided" class="home-login_button">
        Log in
      </button>
    </div>
    <router-view />
    <div>
      <h2 class="home-quote">{{ state.quoteText }}</h2>
    </div>
  </div>
</template>

<script>
import { quotes } from '../assets/homequotes'
import { reactive, onMounted } from 'vue'
import { useStore } from 'vuex'
import { users } from '../assets/users'
import router from '../router'

export default {
  name: 'Home',
  setup() {
    const store = useStore()
    onMounted(() => {
      state.quoteText = quotes[Math.floor(Math.random() * 20)].quote
    })
    const state = reactive({
      image: require('@/assets/heehaw.png'),
      quoteText: '',
      userName: '',
      password: '',
      correctLogin:'Welcome' ,
      incorrectLogin:'Wrong Password or User Name'
    })

    function correctPasswordProvided() {
      const userProvided = users.find(
        (element) => element.userName == state.userName
      )
      store.state.User.user = userProvided
      if (userProvided == null || userProvided.password != state.password) {
        alert(state.incorrectLogin)
        return
      }
      alert(`${state.correctLogin } ${state.userName}`)
      router.push({ path: `/user/${userProvided.userId}` })
    }

    return {
      state,
      correctPasswordProvided,
    }
  },
}
</script>

<style lang="scss" scoped>
.home {
  // height:100%;
  // width:100%;
  display: flex;
  .logo-text {
    color: white;
    font-size: 305%;
    margin-left: 20%;
  }
  .home-login {
    color: white;
    font-size: 175%;
    display: inline;
    a {
      color: white;
    }
    .home-login_button {
      width: 30%;
      height: 10%;
      font-size: 75%;
    }
    .home-login_text {
      display: flex;
      .home-login_link {
        text-decoration: underline !important;
         &:hover {
          color:orange;
        }
      }
    }
  }
  .home-quote {
    color: white;
    font-size: 105%;
    margin-left: 25%;
    margin-right: 5%;
    margin-top: 12%;
    justify-content: right;
  }
  h1 {
    color: white;
  }
}
</style>