<template>
  <div class="user-profile">
    <div class="user-profile_user-panel">
      <h2 class="user-profile_username">
        @{{ state.user.userName }} - {{ fullname }}
      </h2>
      <div class="user-profile_admin-badge" v-show="state.user.isAdmin">
        <p>Admin</p>
      </div>
      <div
        class="user-profile_top-badge"
        v-show="state.followers >= state.starFollowers"
      >
        <p>Heehaw Star!!</p>
      </div>

      <div class="user-profile_follower-count">
        <strong>Followers: {{ state.followers }} </strong>
        <div><button @click="followUser">Follow</button></div>
        {{ state.text }}
        <button v-show="state.followerChange" @click="removeFollowerNotice">
          X
        </button>
      </div>
    </div>

    <div class="user-profile_twoots-wrapper">
      <Item
        v-for="heehaw in state.user.heehaws"
        :key="heehaw.id"
        :userName="state.user.userName"
        :heehaw="heehaw"
        @favourite="toggleFavourite"
      />
    </div>
    <div>
      <Panel @heehawSended="heehawSended" />
    </div>
  </div>
</template>

<script>
import Item from '../components/HItem'
import Panel from '../components/CreateHPanelV3'
import { users } from '../assets/users'
import { useRoute } from 'vue-router'
import { reactive, computed, watch } from 'vue'
export default {
  name: 'userProfile',
  components: {
    Item,
    Panel,
  },
  setup(props, context) {

    const route = useRoute()
    const userId = computed(() => route.params.userId)

    const state = reactive({
      followers: 0,
      user: users[userId.value -1] || users[0], //Vue 3 no puede referenciar propiedades computadas tal cual son, necesitamos el .value. ME dio error hasta que declaré la computed primero.
      date: new Date().toLocaleString(),

      text: '',
      followerChange: false,
      counter: 0,
      starFollowers: 100,
    })

    function followUser() {
      state.followers++ // this.followers = this.followers +1 --- this.followers += 1
    }
    function addFollower() {
      state.counter++
    }

    function removeFollowerNotice() {
      state.text = ''
      state.followerChange = false
      state.counter = 0
    }

    function noticeFollowerChange() {
      addFollower()
      if (state.counter == 1) {
        state.text = `${state.user.userName} has gained ${state.counter} Follower`
      }
      if (state.counter > 1) {
        state.text = `${state.user.userName} has gained ${state.counter} Followers`
      }

      state.followerChange = true
    }

    function toggleFavourite(id) {
      id = state.user.heehaws[id].id
      state.user.heehaws[id].fav++
    }

    function heehawSended(heehawText, selectedHeehawType) {
      state.user.heehaws.unshift({
        id: state.user.heehaws.length,
        content: heehawText,
        fav: 0,
        date: new Date().toLocaleString(),
      })
    }

    const fullname = computed(() => {
      return `${state.user.firstName} ${state.user.lastName}`
    })

    watch(
      () => state.followers,
      (newFollowerCount, oldFollowerCount) => {
        if (oldFollowerCount < newFollowerCount) {
          noticeFollowerChange()
        }
      }
    )

    return {
      state,
      followUser,
      addFollower,
      removeFollowerNotice,
      noticeFollowerChange,
      toggleFavourite,
      fullname,
      heehawSended,
      route,
      userId,
    }
  },

  //   mounted() {
  //     this.followUser()
  //   },
}
</script>

<style lang="scss" scoped>
/*scoped significa que lo que se use en este archivo, sólo afecta a este archivo (si se pone un estilo a h1 o cosas así)*/

/*  Scss lo que permite es nestear o establecer la misma relación parent-child que hay en el html*/
/*Las clases no nesteadas están pendientes de cambios en el html*/
/*Al inspeccionar, se nos informará de los parents también (ex. .user-profile.user-profile_user-panel*/

.user-profile {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
  padding: 50px 5%;

  .user-profile_user-panel {
    display: flex;
    flex-direction: column;
    margin-right: 45.5%;
    padding: 20px;
    background-image: linear-gradient(brown, black);
    border-radius: 5px;
    border: 1px solid #dfe3eb;
    color: white;

    h2 {
      margin: 0;
    }

    .user-profile_admin-badge {
      background: rebeccapurple;
      color: white;
      border-radius: 0.5em;
      margin-right: auto; /* S'acoplará al tamany del text (Sols hi haurà roig en lo que es la paraula ADMIN) */

      padding: 0 0.75em; /* El primer es dalt y baix, el segón esquerra i dreta */
    }

    .user-profile_top-badge {
      background: gold;
      color: black;
      border-radius: 0.5em;
      margin-right: auto; /* S'acoplará al tamany del text (Sols hi haurà roig en lo que es la paraula ADMIN) */

      padding: 0 0.75em; /* El primer es dalt y baix, el segón esquerra i dreta */
    }
  }
}
</style>