<template>
  <form @submit.prevent="submit" class="register">
    <h1>Congratulations, you are about to join the Donkey herd</h1>

    <div class="register-fields">
       <p>First Name or Alias</p>
      <input v-model="state.firstName" type="text" placeholder="First Name" />
       <p>Last Name or Alias</p>
      <input v-model="state.lastName" type="text" placeholder="Last Name" />
      <p>User Name</p>
      <input v-model="state.userName" type="text" placeholder="User Name" />
      <p>email address</p>
      <input v-model="state.email" type="text" placeholder="email address" />
      <p>Password</p>
      <input v-model="state.password" type="password" placeholder="Password" />
      <p>Confirm Password</p>
      <input
        v-model="state.confirmation"
        type="password"
        placeholder="Confirm Password"
      />
    </div>

    <button class="register-button">Send</button>
  </form>
</template>

<script>
import { reactive } from 'vue'
import { users } from '../assets/users'
import router from '../router'
import { useStore } from 'vuex'


export default {
  name: 'register',
  setup() {
    const store = useStore()
    const state = reactive({
      firstName:'',
      lastName:'',
      userName: '',
      email: '',
      password: '',
      confirmation: '',
      validData: false,
    })
    const submit = () => {
      const data = {
        firstName:state.firstName,
        lastName: state.lastName,
        userName: state.userName,
        email: state.email,
        password: state.password,
        confirmation: state.confirmation,
        isAdmin: false,
        heehaws: [],
        userId: users.length + 1,
      }
      if (validInfoProvided()) state.validData = true

      if (state.validData) {
        users.push(data)
        alert('(Fake) Registered!')
        store.state.User.user = data
        router.push({ path: `/user/${data.userId}` })
      } 
    }
    const validInfoProvided = () => {
      if (passwordMatch() && nameProvided()) return true
    }

    const passwordMatch = () => {
      if (state.password != state.confirmation) {
        alert("Your Password doesn't match your confirmation password")
        state.password = ''
        state.confirmation = ''
        return
      }
      return true
    }

    const nameProvided = () => {
      if (!state.userName) {
        alert('Please introduce a valid User Name')
        return
      }
      return true
    }
    return {
      state,
      submit,
      validInfoProvided,
      passwordMatch,
      nameProvided,
    }
  },
}
</script>

<style lang="scss" scoped>
.register {
  margin: 0 auto;

  .register-fields {
    color: white;
    margin-left: 45%;
  }
  .register-button {
    border: none;
    margin-left: 48%;
    margin-top: 1%;
  }

  h1 {
    color: white;
    margin-left: 25%;
  }
}
</style>