<template>
  <div>
    <form
      class="panel_create-heehaw"
      type="submit"
      @submit.prevent
      :class="{ '--exceeded': newHeehawCharacterCount > 185 }"
    >
      <label for="newHeehaw"
        ><strong>-New Heehaw-</strong>({{ newHeehawCharacterCount }}/185)</label
      >
      <textarea v-model="state.heehawText" name="" rows="4"></textarea>

      <div class="panel_create-heehaw-type">
        <label for="newHeehawType"><strong>Type: </strong></label>
        <select id="newHeehawType" v-model="state.selectedHeehawType">
          <option
            :value="option.value"
            v-for="(option, index) in state.heehawTypes"
            :key="index"
          >
            {{ option.name }}
          </option>
        </select>
      </div>
      <div>
        <button class="panel_mute-heehaw" 
        @click="silentHeehaw"
        :class="{ '--inUse': !state.heehawSound }"
        >Mute</button>
        <button
          class="panel_create-heehaw-button"
          @click="sendHeehaw"
        >
          Hee-haw!
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import { reactive, computed, created } from 'vue'
export default {
  name: 'CreateHeehawPanel',
  props: [], //Props quedan vacías para ver cómo se enviarían porque en setup será el primer parámetro. El 2º será context.

  setup(props, context) {
    const state = reactive({
      heehawText: '',
      selectedHeehawType: 'instant',
      heehawTypes: [
        { value: 'draft', name: 'Draft' },
        { value: 'instant', name: 'Instant Heehaw' },
      ],
      sound: require('../assets/donkey.wav'),
      heehawSound: true,
    })

    const newHeehawCharacterCount = computed(() => state.heehawText.length)
    function playSound() {
      const audio = new Audio(state.sound)
      audio.play()
    }

    function sendHeehaw() {
      if (this.correctHeehaw()) {
        context.emit('heehawSended', state.heehawText)
        
      }
      if (this.correctHeehaw() && state.heehawSound) {
        this.playSound()
      }
      state.heehawText = ''
    } //la función (antes method) es la más simple, no hay que wrapear como las computed  o darle la propiedad reactive además de wrapear (state)

    function correctHeehaw() {
      return state.heehawText && state.selectedHeehawType !== 'draft'
    }
    function silentHeehaw() {
      state.heehawSound = !state.heehawSound
    }
    return {
      state,
      newHeehawCharacterCount,
      sendHeehaw,
      playSound,
      correctHeehaw,
      silentHeehaw,
    }
  },
}
</script>

<style lang="scss" scoped>
.panel_create-heehaw:not(span) {
  display: flex;
  flex-direction: column;
  padding: 3.5%;
  color: white;
  &.--exceeded {
    color: red;
    border-color: red;
    font-size: calc(100% + 0.1vw);

    button {
      text-decoration:none;
      border: none;
      color: white;
      pointer-events: none;
      visibility: hidden;
    }
    button:after {
      visibility: visible;
      content: ' Character limit exceeded';
      background-color: red;
      display: block;
    }
  }
}

.panel_create-heehaw-button {
  width: 50%;
  border-radius: 5%;
}
.panel_mute-heehaw {
  background: coral;
  border-radius: 50%;
  cursor: pointer;

  &.--inUse {
    background-color: grey;
    outline: blue auto 5px;
  }
}
</style>