<template>
  <div class="heehaw-item" @click="favouriteHeehaw(heehaw.id)">
    <div class="user-profile_heehaw">
      <div class="heehaw-item_user">@{{ userName }}</div>
      <div class="heehaw-item_content">
        {{ heehaw.content }}
        <br />
        Favourited: {{ heehaw.fav }}
      </div>
      {{ heehaw.date }}
    </div>
  </div>
</template>

<script>
import { reactive } from 'vue'

export default {
  name: 'HeehawItem',
  props: {
    userName: {
      type: String,
      required: true,
    },
    heehaw: {
      required: true,
    },
  },
  setup(props, context) {
    function favouriteHeehaw(id) {
      context.emit('favourite', id)
    }
    return {
     favouriteHeehaw,
    }

  },
}
</script>

<style lang="scss" scoped>
/*interesante el &:hover, no indica que sea un child component, sino que lo 'adjunta'*/

.heehaw-item {
  padding: 20px;
  background-image: linear-gradient(brown, black);
  border-radius: 5px;
  border: 1px solid #dfe3e8;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.25s ease;
  margin-right: 45%;
  color: white;

  &:hover {
    transform: scale(1.1, 1.1);
  }

  .heehaw-item_user {
    font-weight: bold;
  }
}
</style>