<template>
  <div>
    <form
      class="user-profile_create-heehaw"
      type="submit"
      @submit.prevent="sendHeehaw"
      :class="{ '--exceeded': newHeehawCharacterCount > 185 }"
    >
      <label for="newHeehaw"
        ><strong>-New Heehaw-</strong>({{ newHeehawCharacterCount }}/185)</label
      >
      <textarea v-model="heehawText" name="" rows="4"></textarea>

      <div class="user-profile_create-heehaw-type">
        <label for="newHeehawType"><strong>Type: </strong></label>
        <select id="newHeehawType" v-model="selectedHeehawType">
          <option
            :value="option.value"
            v-for="(option, index) in heehawTypes"
            :key="index"
          >
            {{ option.name }}
          </option>
        </select>
      </div>
      <button class="user-profile_create-heehaw-button">Hee-haw!</button>
    </form>
  </div>
</template>

<script>
export default {
  name: "CreateHeehawPanel",
  data() {
    return {
      heehawText: "",
      selectedHeehawType: "instant",
      heehawTypes: [
        { value: "draft", name: "Draft" },
        { value: "instant", name: "Instant Heehaw" },
      ],
    };
  },
  methods: {
    sendHeehaw() {
      if (this.heehawText && this.selectedHeehawType !== "draft"){
      this.$emit("heehawSended", this.heehawText)
      this.heehawText = ""
      }
    },
  },

  computed: {
    newHeehawCharacterCount() {
      return this.heehawText.length;
    },
  },
};
</script>

<style lang="scss" scoped>
.user-profile_create-heehaw {
  display: flex;
  flex-direction: column;
  padding: 3.5%;
  color: white;
  &.--exceeded {
    color: red;
    border-color: red;
    font-size: calc(100% + 0.1vw);

    button {
      border: none;
      color: white;
      pointer-events: none;
      visibility: hidden;
    }
    button:after {
      visibility: visible;
      content: " Character limit exceeded";
      background-color: red;
     display:block;
    }
  }
}

.user-profile_create-heehaw-button {
  width: 50%;
  border-radius: 5%;
}
</style>