<template>
  <div class="user-profile">
    <div class="user-profile_user-panel">
      <h2 class="user-profile_username">
        @{{ user.userName }} - {{ fullname }}
      </h2>
      <h3>{{userId}}</h3>
      <div class="user-profile_admin-badge" v-show="user.isAdmin">
        <p>Admin</p>
      </div>
      <div class="user-profile_top-badge" v-show="followers >= starFollowers">
        <p>Heehaw Star!!</p>
      </div>

      <div class="user-profile_follower-count">
        <strong>Followers: {{ followers }} </strong>
        <div><button @click="followUser">Follow</button></div>
        {{ text }}
        <button v-show="followerChange" @click="removeFollowerNotice">X</button>
      </div>
    </div>

    <div class="user-profile_twoots-wrapper">
      <Item
        v-for="heehaw in user.heehaws"
        :key="heehaw.id"
        :userName="user.userName"
        :heehaw="heehaw"
        @favourite="toggleFavourite"
      />
    </div>
    <div>
      <Panel @heehawSended="heehawSended" />
    </div>
  </div>
</template>

<script>
import Item from "../components/HItem";
import Panel from "../components/CreateHPanelV3";
import {useRoute} from 'vue-router'
const route = useRoute()
export default {
  name: "userProfile",
  components: {
    Item,
    Panel,
  },
  data() {
    return {
      followers: 0,
      user: {
        id: 1,
        userName: "_tester",
        firstName: "Usuario",
        lastName: "De Muestra",
        email: "manuManolez@fakemail.com",
        isAdmin: true,
        heehaws: [
          {
            id: 0,
            content: "Rebuzno de muestra",
            fav: 0,
            date: new Date().toLocaleString(),
          },
        ],
      },
      text: "",
      followerChange: false,
      counter: 0,
      starFollowers: 100,
    };
  },

  watch: {
    followers(newFollowerCount, oldFollowerCount) {
      //entre paréntesis el valor de després del canvi i el d'abans
      if (oldFollowerCount < newFollowerCount) {
        this.noticeFollowerChange();
      }
    },
  },

  computed: {
    fullname() {
      return `${this.user.firstName} ${this.user.lastName}`; // this.user.firstName + ' ' + this.user.lastName
    },

    userId(){
      this.route.params.userId
    }
  },

  methods: {
    followUser() {
      this.followers++; // this.followers = this.followers +1 --- this.followers += 1
    },

    addFollower() {
      this.counter++;
    },

    removeFollowerNotice() {
      this.text = "";
      this.followerChange = false;
      this.counter = 0;
    },

    noticeFollowerChange() {
      this.addFollower();
      if (this.counter == 1) {
        this.text = `${this.user.userName} has gained ${this.counter} Follower`;
      }
      if (this.counter > 1) {
        this.text = `${this.user.userName} has gained ${this.counter} Followers`;
      }

      this.followerChange = true;
    },

    toggleFavourite(id) {
      id = this.user.heehaws[id].id;
      this.user.heehaws[id].fav++;
    },

    heehawSended(heehawText, selectedHeehawType) {
      this.user.heehaws.unshift({
        id: this.user.heehaws.length,
        content: heehawText,
        fav: 0,
        date: new Date().toLocaleString(),
      });
    },
  },

  mounted() {
    this.followUser();
  },
};
</script>

<style lang="scss" scoped>
/*scoped significa que lo que se use en este archivo, sólo afecta a este archivo (si se pone un estilo a h1 o cosas así)*/

/*  Scss lo que permite es nestear o establecer la misma relación parent-child que hay en el html*/
/*Las clases no nesteadas están pendientes de cambios en el html*/
/*Al inspeccionar, se nos informará de los parents también (ex. .user-profile.user-profile_user-panel*/

.user-profile {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
  padding: 50px 5%;

  .user-profile_user-panel {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    padding: 20px;
    background-image: linear-gradient(brown, black);
    border-radius: 5px;
    border: 1px solid #dfe3eb;
    color: white;

    h2 {
      margin: 0;
    }

    .user-profile_admin-badge {
      background: rebeccapurple;
      color: white;
      border-radius: 0.5em;
      margin-right: auto; /* S'acoplará al tamany del text (Sols hi haurà roig en lo que es la paraula ADMIN) */

      padding: 0 0.75em; /* El primer es dalt y baix, el segón esquerra i dreta */
    }

    .user-profile_top-badge {
      background: gold;
      color: black;
      border-radius: 0.5em;
      margin-right: auto; /* S'acoplará al tamany del text (Sols hi haurà roig en lo que es la paraula ADMIN) */

      padding: 0 0.75em; /* El primer es dalt y baix, el segón esquerra i dreta */
    }
  }
}
</style>