<template>
  <div id="app">
    <nav>
      <div class="logo">
        <router-link to="/">
          <img class="logo-donkey" :src="state.image"
        /></router-link>

        <div class="logo-text">
          <p>Heehawer: Your bray new Network (under construction)</p>
        </div>
      </div>
      <div class="logo-userName" v-if="user.userName">
        You are logged as:
        <div class="logo-userName_link" @click="linkToUserPanel">
          {{ user.userName }}
        </div>
      </div>
      <!--  -->
      <router-link to="/admin" v-if="user.isAdmin">
        <p class="logo-admins">Admins Only</p>
      </router-link>
    </nav>
    <router-view />
    <div class="footer">
      <p>Logo created by Morshedul Quayyum (https://dribbble.com/Maraz)</p>
    </div>
  </div>
</template>

<script>
import { reactive, computed } from 'vue'
import { useStore } from 'vuex'
import router from './router'
export default {
  name: 'app',
  setup() {
    const store = useStore()
    const user = computed(() => store.state.User.user)
    const state = reactive({
      image: require('@/assets/heehaw.png'),
    })
    function linkToUserPanel() {
      router.push({ path: `/user/${store.state.User.user.userId}` }) // no funciona usando la const user
    }

    return {
      state,
      user,
      linkToUserPanel,
    }
  },
}
</script>

<style lang="scss">
#app {
  background: linear-gradient(brown, black);
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100%;
  min-height: 100vh;
  
  nav {
    background-color: coral;
    height: 6em;
    display: flex;
    padding-bottom: 1em;
    padding: 0.5em;
    color: white;

    .logo {
      display: flex;
      margin-right: 40%;
      font-size: 190%;

      justify-content: space-between;

      .logo-donkey {
        width: 32.5%;
        margin-left: 15%;
        &:hover {
          transform: scale(1.1, 1.1);
        }
      }
      .logo-text {
        color: white;
      }
      h1 {
        color: white;
      }
    }
    .logo-admins {
      font-size: 105%;
      float: right;

      &:hover {
        transform: scale(1.1, 1.1);
      }
    }
    .logo-userName {
      font-size: 125%;
      float: right;
      .logo-userName_link {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .footer p {
    margin: bottom 0.5%;
    font-size: 9px;
    color: white;
  }
}
</style>
